<h1><%=@school_class.title%></h1>
<br><br>
<h1><%=@school_class.room_number%></h1>

<%=link_to 'Edit School Class', edit_school_class_path(@school_class)%>
<br><br>
<%=link_to 'School Class List', school_classes_path%>